.App {
  text-align: center;
}



.flex{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  flex-grow:1;
  margin: 40px;
}
  .Reviews {
    border: 2px solid red;
    padding: 1rem;
    border-radius: 10%;
    margin:15px;

  }


.Header {
  color: red;
  border: 3px solid black ;
  padding: 5px;
}


