.App {
  text-align: center;
}


.Header {
  color: red;
  border: 3px solid black ;
  padding: 5px;
}

.Reviews__Body{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  flex-grow:1;
  margin: 40px;
}

.Reviews {
    border: 2px solid red;
    padding: 1rem;
    border-radius: 10%;
    margin:15px;

  }

.Review {
  border: 3px dotted red;
  padding: 20px;
  margin: 20px;
}

.Comments {
  border: 1px solid black;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
}




